.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;

  label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    input,
    textarea {
      width: inherit;
      flex-grow: 1;

      font-size: 14px;
      line-height: 100%;
      font-weight: 500;
      color: $color-nero;

      border: 1px solid $color-hawkes-blue;
      border-radius: 5px;
      outline: none;

      transition: border 0.3s ease;

      &:hover,
      &:focus {
        border: 1px solid $color-dodger-blue;
        box-shadow: 0 0 4px 0 $color-dodger-blue;
      }

      &::placeholder {
        font-size: 14px;
        line-height: 100%;
        font-weight: 500;
        color: $color-dark-gray;
      }
    }

    input:not([type="file"]) {
      padding: 12px;
    }

    textarea {
      min-height: 140px;
      padding: 15px;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 6px;
    color: $color-charcoal;
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    //color: $color-cinnabar;

    opacity: 0;

    transition: opacity 0.3s ease;
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-cinnabar;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-cinnabar, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -$gutter * 1.5;
    font-size: 11px;
    line-height: 100%;

    &.is-invalid {
      color: $color-cinnabar;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
