.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 16px;

  @include vp-768 {
    padding: 0 $gutter * 3;
  }

  @include vp-1024 {
    padding: 0 $gutter * 2;
  }

  @include vp-1280 {
    padding: 0 $gutter;
  }
  //
  //@include vp-1440 {
  //  padding: 0;
  //}
}
